<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/result" method="POST">
        Name:<input type="text" name="name" placeholder="Enter your Name" required>
        <br><br>
        Age:<input type="number" name="age" placeholder="Enter your Age" required>
        <br><br>
        Marks:<input type="number" name="marks" placeholder="Enter your Marks" required>
        <br><br>
        City:<select name="city">
            <option>Karachi</option>
            <option>Lahore</option>
            <option>Islamabad</option>
            <option>Peshawar</option>
        </select>
        <br><br>
        <hr>
        logged in:<input type="checkbox" name="log_in">
        <br><br> 

        <input type="number" name="num" placeholder="Enter a number">
        <br><br> 
        Temperature:<input type="number" name="temperature" placeholder="Temperature">
       <br><br>
       Attendence Percentage:<input type="number" name="percentage" placeholder="Percentage">
       <br><br>
       Bill Amount:<input type="number" name="amount" placeholder="Enter bill amount">
       <br><br>

       <hr>

       <h2>subjects</h2>
       {% for subject in subjects %}
       <ul>
        <li>{{subject}}</li>
       <br><br>
       {% endfor %}
       </ul>

       <table>
        <tr>
            <th>Fruits Name</th>
        </tr>
        {% for fruit in fruits %}
        <tr>
            <td>{{fruit}}</td>
        </tr>
        {% endfor %}
    </table>

    <h2>Numbers</h2>
    {% for num in nums %}
        <p>{{num}}</p>
        <br><br>
    {% endfor %}

    <hr>
     
    Items:<select name="items">
            <option>Rice Rs(200)</option>
            <option>Sugar Rs(100)</option>
        </select>
    
    <br><br>

    Item Name:<input type="text" name="Iname"><br><br>
    Item Price:<input type="number" name="Iprice"><br><br>
    Quantity:<input type="number" name="Iquantity"><br><br>

    Delivery Needed:<select name="delivery">
            <option>Yes</option>
            <option>No</option>
        </select>

    <br><br>
    <button type="submit">Submit</button>
    </form>
</body>
</html>